<h1 id="index-header"><span class="special two">Our</span>Styles..</h1>
<img class="splash red" src="../red-splash.png" alt="" />
<main>
  <img class="splash green" src="../green-paint-splash.png" alt="" />
  <div class="skaters clearfix">
    <div class="skate skate1">

    </div>
    <div class="skate skate2">

    </div>
    <div class="skate skate3">

    <div>
  </div>
</main>
