<div class="stores_headers clearfix">
  <h3><span class="special two">*</span>Our Retailers</h3>
  <h3><span class="special two">+</span>Add Retailers<span class="special two three four">>></span></h3>
  <h3 class="form-header">
    <div class="inline-form" id="store-form">
      <form action="/stores/new" method="post">
        <label for="store_name">Name:</label>
        <input id="store_name" name="store_name" type="text">
        <label for="store_location">Location:</label>
        <input id="store_location" name="store_location" type="text">
        <button class="btn inline-button" type="submit">+</button>
      </form>
    </div>
  </h3>
</div>

<% if @stores.any? %>
  <div class="stores">
    <% @stores.each do |store| %>
      <div class="store">
        <li id="store_link"><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
        <p class="location"><%= store.location %></p>
      </div>
    <% end %>
  </div><!--end of stores -->
<% else %>
<p>
  No retailers currently. Check back.
</p>
<% end %>
