/*
Project Name: Fresh_kicks_ruby
Client: Ruby Epicodus
Author: Liam Ellis, Aestheke Inc.

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {clear: both;}

/*FONTS*/

@font-face {
    font-family: milk;
    src: url(../milk.otf);
}
@font-face {
    font-family: philly;
    src: url(../philly.otf);
}
@font-face {
    font-family: urban;
    src: url(../urban.ttf);
}
@font-face {
    font-family: blackout;
    src: url(../blackout.ttf);
}
@font-face {
    font-family: bold;
    src: url(../bold.ttf);
}

@font-face {
    font-family: media;
    src: url(../media.otf);
}

/******************************************************/
/*Base styles*/

body {
  margin: auto;
  display: block;
}
h3{
  font-family: media;
  font-size: 35px;
}
p {
  font-family: milk;
}
.form {
  margin: auto;
  display: block;
  text-align: center;
  clear: both;
}
.rating form, .button-form {
  width: min-content;
}
.upVote {
  position: absolute;
  bottom: 0;
  right: 0;
}
.downVote {
  position: absolute;
  bottom: 0;
  left: 0;
}
.arrow {
  font-family: blackout;
  font-size: 25px;
}

button {
  background-color: transparent;
  border: none;
}

/*end of Base Styles*/
/******************************/

header {
  height: 300px;
  width: 100%;
  position: relative;
  background: url(../kicks-header.jpeg);
  background-position: center;
  background-size: 100%;

}
.layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header h1 {
  margin: 0;
  font-family: blackout;
  font-size: 100px;
  color: white;
}
.headers {
  position: absolute;
  margin-top: 3%;
  margin-left: 12%;
}
.kicks {
  padding-left: 60px;
  font-size: 80px;
}
nav {
  position: absolute;
  right: 150px;
  margin-top: 10%;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  display: inline;
  font-family: philly;
  color: white;
}
a, a:hover { color: inherit;}

.special {
  font-family: blackout;
  font-size: 80px;
  color: white;
  margin: 10px;
}
.normal {
  position: relative;
  margin: 10px;
  bottom: 15px;
  font-size: 35px;
}

/*******************************/
/*Success*/

#success {
  display: block;
  margin: auto;
  text-align: center;
}
#success h3 {
  font-family: philly;
  font-size: 80px;
}

#success h4 {
  font-family: milk;
  font-size: 20px;
  margin-left: 20px;
}

#success span {
  margin-top: 20%;
  display: inline;
  bottom: 10px;
}

span img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

/********************/
/*brands*/

.brands, .stores, .updates {
  width: 100%;
}
.brand, .store {
  float: left;
  width: 30%;
  margin: 10px;
  color: black;
  text-align: center;
  position: relative;
  height: 200px;
  box-shadow: 3px 3px 3px gray;
}

.two {
  color: black;
}
.three {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
/*Stores*/
.store-header {
}
.delete-update {
}

.update_store, .add_brand_store {
  float: left;
  width: 50%;
}
