/*
Project Name: Fresh_kicks_ruby
Client: Ruby Epicodus
Author: Liam Ellis, Aestheke Inc.

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {clear: both;}

/*FONTS*/

@font-face {
    font-family: milk;
    src: url(../milk.otf);
}
@font-face {
    font-family: philly;
    src: url(../philly.otf);
}
@font-face {
    font-family: urban;
    src: url(../urban.ttf);
}
@font-face {
    font-family: blackout;
    src: url(../blackout.ttf);
}
@font-face {
    font-family: bold;
    src: url(../bold.ttf);
}

@font-face {
    font-family: media;
    src: url(../media.otf);
}

@font-face {
    font-family: future;
    src: url(../future.ttf);
}

/******************************************************/
/*Base styles*/

body {
  margin: auto;
  display: block;
}

#index-header {
  font-family: philly;
  color: black;
  font-size: 80px;
  text-align: center;
}
h3{
  font-family: media;
  font-size: 35px;
}
p, .inline-form label {
  font-family: milk;
}

.form {
  margin: auto;
  display: block;
  text-align: center;
  clear: both;
}
.form-header {
  position: absolute;
  bottom: 0;
  right: 50px;
}
.inline-form, .inline-button{
  width: min-content;
  display: inline;
  padding: 0;
}
.update_store_form {
  width: auto;
  display: inline;
  position: relative;
  top: 10px;
  left: 10px;
}
.inline-form label, .inline-form input {
  display: inline;
  width: 50%;
}
.inline-form label {
  font-size: 15px;
}
.inline-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 5px black;
}
.inline-form {
  position: relative;
  bottom: 10px;
}
#store-form {
  position: absolute;
  width: 500px;
  bottom: 20px;
}

#store-form label, #store-form input, #update_store_name, #update_store_location, #new_brand {
  width: 20%;
  display: inline;
}
.rating form, .button-form, .delete form {
  width: min-content;
}

input {
  font-family: milk!important;
  font-size: 15px;
}
.upVote {
  position: absolute;
  bottom: 0;
  right: 0;
}
.delete {
  position: absolute;
  left: 0;
  top: 0;
}
.downVote {
  position: absolute;
  bottom: 0;
  left: 0;
}
.arrow {
  font-family: blackout;
  font-size: 25px;
}

button {
  background-color: transparent;
  border: none;
}

/*end of Base Styles*/
/******************************/



/******************************/
/*Index Styles*/

main {
  margin-top: 3%;
  border: 2px solid black;
  padding: 1%;
  position: relative;
}
.splash {
  position: absolute;
}
.black {
  height: 300px;
  width: 300px;
  z-index: -5;
}
.black1 {
  right: -200px;
  top: 0;
}

.black2 {
  right: 0;
  top: 25%;
}
.red {
  /*bottom: 50px;*/
  top: 0;
  right: 0;
  height: 600px;
  width: 800px;
  z-index: -5;
  opacity: 0.6;
}
.red2 {
  height: 500px;
  width: 600px;
  bottom: -300px;
  left: 0;
  z-index: -5;
  zoom: 272%;
  opacity: 0.6;
}
.green2 {
  z-index: -7;
}
header {
  height: 300px;
  width: 100%;
  position: relative;
  background: url(../kicks-header.jpeg);
  background-position: center;
  background-size: 100%;

}
.layer, .background-layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header h1 {
  margin: 0;
  font-family: blackout;
  font-size: 100px;
  color: white;
}

.headers {
  position: absolute;
  margin-left: 12%;
}
.kicks {
  padding-left: 60px;
  font-size: 80px;
}
nav {
  position: absolute;
  right: 150px;
}

.headers, nav {
  bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  display: inline;
  font-family: philly;
  color: white;
}
a, a:hover { color: inherit;}

.special {
  font-family: blackout;
  font-size: 80px;
  color: white;
  margin: 10px;
}
.normal {
  position: relative;
  margin: 10px;
  bottom: 15px;
  left: 50px;
  font-size: 35px;
}

/*******************************//*******************************/
/*Success*/

#success {
  display: block;
  margin: auto;
  text-align: center;
}
#success h3 {
  font-family: philly;
  font-size: 80px;
}
#success h4 {
  font-family: milk;
  font-size: 20px;
  margin-left: 20px;
}

#success span {
  margin-top: 20%;
  display: inline;
  bottom: 10px;
}

span img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

/********************//********************//********************//********************/
/*brands*/

.brands, .stores, .updates, .brands_headers, .stores_headers, .skaters, .store_update_header {
  width: 100%;
  position: relative;
}
/*.brands {
  background: url(../red-splash.png);
  background-position: center;
}*/
.brand, .store {
  float: left;
  width: 30%;
  margin: 10px;
  color: black;
  text-align: center;
  position: relative;
  height: 200px;
  box-shadow: 3px 3px 3px gray;
  background-color: rgba(211,211,211, 0.8);
}


#brand_select_add_to_store_form {
  /*position: absolute;
  bottom: 0;*/
}
#brand_select_add_to_store_form form {
  text-align: center;
  margin: auto;
  display: block;
}
.one{
  font-size: 30px;
  position: relative;
}
.two {
  color: black;
}
.three {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
.four {
  font-size: 40px;
  position: relative;
  left: 50px;
  bottom: 0;
}

.five {
  color: white;
  font-size: 30px;
  position: relative;
  left: 40px;
  top:10px;
}

/********************//********************//********************//********************/
/*Stores*/

#store_link, .brand_link {
  color: black;
  font-family: bold;
  font-size: 30px;
}
.update_store, .add_brand_store {
  float: left;
  width: 50%;
}
.brands_headers h3, .stores_headers h3 {
  width: 30%;
  margin: 10px;
  float: left;
  padding: 1%;
  border-bottom: 1px solid black;
}
.skaters {
  margin: auto;
  display: block;
}
.skate {
  width: 32.333%;
  margin-left: 8px;
  height: 400px;
  float: left;
  box-shadow: 2px 2px 2px black;

}
.skate1 {
  background: url(../skate.jpeg);
  background-position: center;
  background-size: cover;

}
.skate2 {
  background: url(../skater.jpg);
  background-position: center;
  background-size: cover;
}
.skate3 {
  background: url(../skate3.jpeg);
  background-position: center;
  background-size: cover;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
footer p {
  font-family: future;
}
